* text=auto !eol
charset/data/xml/aix-IBM_1046-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_1124-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_1129-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_1252-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_850-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_856-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_858-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_932-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_943-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_eucJP-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_eucKR-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-IBM_eucTW-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_1-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_15-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_2-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_3-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_4-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_5-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_6-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_7-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_8-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-ISO8859_9-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-JISX0201.1976_0-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-TIS_620-4.3.6.xml svneol=native#text/xml
charset/data/xml/aix-big5-4.3.6.xml svneol=native#text/xml
charset/data/xml/gb-18030-2000.xml svneol=native#text/xml
charset/data/xml/glibc-ASMO_449-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-BALTIC-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-BIG5-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1250-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1251-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1252-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1253-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1254-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1255-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1256-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1257-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP1258-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP737-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CP775-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CSN_369103-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-CWI-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-DEC_MCS-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_AT_DE-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_AT_DE_A-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_CA_FR-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_DK_NO-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_DK_NO_A-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_ES-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_ES_A-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_ES_S-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_FI_SE-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_FI_SE_A-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_FR-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_IS_FRISS-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_IT-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_PT-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_UK-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EBCDIC_US-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EUC_CN-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EUC_JP-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EUC_KR-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-EUC_TW-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-GOST_19768_74-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-GREEK7-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-GREEK7_OLD-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-GREEK_CCITT-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-HP_ROMAN8-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM037-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM038-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM1004-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM1026-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM1047-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM256-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM273-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM274-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM275-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM277-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM278-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM280-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM281-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM284-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM285-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM290-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM297-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM420-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM423-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM424-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM437-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM500-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM850-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM851-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM852-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM855-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM857-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM860-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM861-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM862-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM863-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM864-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM865-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM866-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM868-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM869-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM870-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM871-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM874-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM875-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM880-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM891-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM903-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM904-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM905-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IBM918-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-IEC_P27_1-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-INIS-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-INIS_8-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-INIS_CYRILLIC-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO646_US-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_10367_BOX-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_5427-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_5427_EXT-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_5428-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_1-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_10-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_11-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_13-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_14-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_15-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_2-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_3-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_4-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_5-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_6-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_7-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_8-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_8859_9-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-ISO_IR_197-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-JOHAB-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-KOI8_R-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-KOI8_U-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-KOI_8-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-LATIN_GREEK-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-LATIN_GREEK_1-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-MACINTOSH-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-MAC_IS-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-MAC_UK-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-NATS_DANO-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-NATS_SEFI-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-SJIS-2.1.2.xml svneol=native#text/xml
charset/data/xml/glibc-TIS_620-2.1.2.xml svneol=native#text/xml
charset/data/xml/hpux-iso81-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso815-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso82-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso85-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso86-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso87-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso88-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-iso89-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-roma8-11.0.xml svneol=native#text/xml
charset/data/xml/hpux-thai8-11.0.xml svneol=native#text/xml
charset/data/xml/ibm-1165_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-1257_P100-2000.xml svneol=native#text/xml
charset/data/xml/ibm-13140_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-13143_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-13145_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-13156_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-13157_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-13162_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-17240_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-21344_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-274_P100-2000.xml svneol=native#text/xml
charset/data/xml/ibm-33058_P100-2000.xml svneol=native#text/xml
charset/data/xml/ibm-425_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4904_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4944_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4945_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4954_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4955_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4956_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4957_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4958_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4959_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4961_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4962_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-4963_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-53685_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-9042_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-9064_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-926_P100-2000.xml svneol=native#text/xml
charset/data/xml/ibm-9306_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-953_P100-2000.xml svneol=native#text/xml
charset/data/xml/ibm-954_P101-2000.xml svneol=native#text/xml
charset/data/xml/ibm-960_P100-2000.xml svneol=native#text/xml
charset/data/xml/java-ASCII-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Big5-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp037-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1006-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1025-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1026-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1097-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1098-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1112-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1122-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1123-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1124-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1250-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1251-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1252-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1253-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1254-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1255-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1256-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1257-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1258-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1381-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp1383-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp273-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp277-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp278-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp280-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp284-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp285-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp297-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp33722-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp420-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp424-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp437-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp500-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp737-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp775-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp838-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp850-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp852-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp855-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp856-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp857-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp860-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp861-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp862-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp863-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp864-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp865-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp866-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp868-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp869-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp870-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp871-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp874-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp875-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp918-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp921-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp922-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp942-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp942C-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp943-1.2.2.xml svneol=native#text/xml
charset/data/xml/java-Cp943C-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp948-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp949-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp949C-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp950-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp964-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Cp970-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-EUC_CN-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-EUC_JP-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-EUC_KR-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-EUC_TW-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_1-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_13-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_2-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_3-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_4-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_5-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_6-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_7-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_8-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-ISO8859_9-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-Johab-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-KOI8_R-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-MS874-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-MS932-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-MS949-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-SJIS-1.3_P.xml svneol=native#text/xml
charset/data/xml/java-TIS620-1.3_P.xml svneol=native#text/xml
charset/data/xml/solaris-646-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_1-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_10-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_15-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_2-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_3-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_4-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_5-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_6-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_7-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_8-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-8859_9-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-EUC_KR-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-KOI8_R-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-PCK-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-eucJP-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-eucTH-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-zh_CN.euc-2.7.xml svneol=native#text/xml
charset/data/xml/solaris-zh_TW_euc-2.7.xml svneol=native#text/xml
charset/data/xml/windows-10000-2000.xml svneol=native#text/xml
charset/data/xml/windows-10004-2000.xml svneol=native#text/xml
charset/data/xml/windows-10005-2000.xml svneol=native#text/xml
charset/data/xml/windows-10006-2000.xml svneol=native#text/xml
charset/data/xml/windows-10007-2000.xml svneol=native#text/xml
charset/data/xml/windows-10010-2000.xml svneol=native#text/xml
charset/data/xml/windows-10017-2000.xml svneol=native#text/xml
charset/data/xml/windows-10021-2000.xml svneol=native#text/xml
charset/data/xml/windows-10029-2000.xml svneol=native#text/xml
charset/data/xml/windows-10079-2000.xml svneol=native#text/xml
charset/data/xml/windows-10081-2000.xml svneol=native#text/xml
charset/data/xml/windows-10082-2000.xml svneol=native#text/xml
charset/data/xml/windows-1026-2000.xml svneol=native#text/xml
charset/data/xml/windows-1047-2000.xml svneol=native#text/xml
charset/data/xml/windows-1140-2000.xml svneol=native#text/xml
charset/data/xml/windows-1141-2000.xml svneol=native#text/xml
charset/data/xml/windows-1142-2000.xml svneol=native#text/xml
charset/data/xml/windows-1143-2000.xml svneol=native#text/xml
charset/data/xml/windows-1144-2000.xml svneol=native#text/xml
charset/data/xml/windows-1145-2000.xml svneol=native#text/xml
charset/data/xml/windows-1146-2000.xml svneol=native#text/xml
charset/data/xml/windows-1147-2000.xml svneol=native#text/xml
charset/data/xml/windows-1148-2000.xml svneol=native#text/xml
charset/data/xml/windows-1149-2000.xml svneol=native#text/xml
charset/data/xml/windows-1250-2000.xml svneol=native#text/xml
charset/data/xml/windows-1251-2000.xml svneol=native#text/xml
charset/data/xml/windows-1252-2000.xml svneol=native#text/xml
charset/data/xml/windows-1253-2000.xml svneol=native#text/xml
charset/data/xml/windows-1254-2000.xml svneol=native#text/xml
charset/data/xml/windows-1255-2000.xml svneol=native#text/xml
charset/data/xml/windows-1256-2000.xml svneol=native#text/xml
charset/data/xml/windows-1257-2000.xml svneol=native#text/xml
charset/data/xml/windows-1258-2000.xml svneol=native#text/xml
charset/data/xml/windows-20105-2000.xml svneol=native#text/xml
charset/data/xml/windows-20106-2000.xml svneol=native#text/xml
charset/data/xml/windows-20107-2000.xml svneol=native#text/xml
charset/data/xml/windows-20108-2000.xml svneol=native#text/xml
charset/data/xml/windows-20127-2000.xml svneol=native#text/xml
charset/data/xml/windows-20269-2000.xml svneol=native#text/xml
charset/data/xml/windows-20273-2000.xml svneol=native#text/xml
charset/data/xml/windows-20277-2000.xml svneol=native#text/xml
charset/data/xml/windows-20278-2000.xml svneol=native#text/xml
charset/data/xml/windows-20280-2000.xml svneol=native#text/xml
charset/data/xml/windows-20284-2000.xml svneol=native#text/xml
charset/data/xml/windows-20285-2000.xml svneol=native#text/xml
charset/data/xml/windows-20290-2000.xml svneol=native#text/xml
charset/data/xml/windows-20297-2000.xml svneol=native#text/xml
charset/data/xml/windows-20420-2000.xml svneol=native#text/xml
charset/data/xml/windows-20423-2000.xml svneol=native#text/xml
charset/data/xml/windows-20424-2000.xml svneol=native#text/xml
charset/data/xml/windows-20833-2000.xml svneol=native#text/xml
charset/data/xml/windows-20838-2000.xml svneol=native#text/xml
charset/data/xml/windows-20866-2000.xml svneol=native#text/xml
charset/data/xml/windows-20871-2000.xml svneol=native#text/xml
charset/data/xml/windows-20880-2000.xml svneol=native#text/xml
charset/data/xml/windows-20905-2000.xml svneol=native#text/xml
charset/data/xml/windows-20924-2000.xml svneol=native#text/xml
charset/data/xml/windows-21025-2000.xml svneol=native#text/xml
charset/data/xml/windows-21027-2000.xml svneol=native#text/xml
charset/data/xml/windows-21866-2000.xml svneol=native#text/xml
charset/data/xml/windows-28591-2000.xml svneol=native#text/xml
charset/data/xml/windows-28592-2000.xml svneol=native#text/xml
charset/data/xml/windows-28593-2000.xml svneol=native#text/xml
charset/data/xml/windows-28594-2000.xml svneol=native#text/xml
charset/data/xml/windows-28595-2000.xml svneol=native#text/xml
charset/data/xml/windows-28596-2000.xml svneol=native#text/xml
charset/data/xml/windows-28597-2000.xml svneol=native#text/xml
charset/data/xml/windows-28598-2000.xml svneol=native#text/xml
charset/data/xml/windows-28599-2000.xml svneol=native#text/xml
charset/data/xml/windows-28605-2000.xml svneol=native#text/xml
charset/data/xml/windows-37-2000.xml svneol=native#text/xml
charset/data/xml/windows-38598-2000.xml svneol=native#text/xml
charset/data/xml/windows-437-2000.xml svneol=native#text/xml
charset/data/xml/windows-500-2000.xml svneol=native#text/xml
charset/data/xml/windows-708-2000.xml svneol=native#text/xml
charset/data/xml/windows-720-2000.xml svneol=native#text/xml
charset/data/xml/windows-737-2000.xml svneol=native#text/xml
charset/data/xml/windows-775-2000.xml svneol=native#text/xml
charset/data/xml/windows-850-2000.xml svneol=native#text/xml
charset/data/xml/windows-852-2000.xml svneol=native#text/xml
charset/data/xml/windows-855-2000.xml svneol=native#text/xml
charset/data/xml/windows-857-2000.xml svneol=native#text/xml
charset/data/xml/windows-858-2000.xml svneol=native#text/xml
charset/data/xml/windows-860-2000.xml svneol=native#text/xml
charset/data/xml/windows-861-2000.xml svneol=native#text/xml
charset/data/xml/windows-862-2000.xml svneol=native#text/xml
charset/data/xml/windows-863-2000.xml svneol=native#text/xml
charset/data/xml/windows-864-2000.xml svneol=native#text/xml
charset/data/xml/windows-865-2000.xml svneol=native#text/xml
charset/data/xml/windows-866-2000.xml svneol=native#text/xml
charset/data/xml/windows-869-2000.xml svneol=native#text/xml
charset/data/xml/windows-870-2000.xml svneol=native#text/xml
charset/data/xml/windows-874-2000.xml svneol=native#text/xml
charset/data/xml/windows-875-2000.xml svneol=native#text/xml
charset/data/xml/windows-932-2000.xml svneol=native#text/xml
charset/data/xml/windows-936-2000.xml svneol=native#text/xml
charset/data/xml/windows-949-2000.xml svneol=native#text/xml
charset/data/xml/windows-950-2000.xml svneol=native#text/xml
charset/source/gb18030/gb18030.html svneol=native#text/html
